.header {
  background-color: #fe5d42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px 60px;
  border-radius: 10px;
}
.header a {
  font-size: 1.5rem;
  font-weight: 600;
}
.header div {
  font-size: 1.6rem;
  background-color: #fff;
  text-align: center;
  color: #fe5d42;
  width: 35px;
  height: 35px;
  padding: 2px;
  border-radius: 9px;
  position: relative;
}
.header span {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  position: absolute;
}
.footer {
  text-align: center;
  background-color: #fe5d42;
  color: #fff;
  padding: 20px;
  margin-top: 80px;
  margin: 10px;
  border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    margin: 10px;
  }
}
@media (min-width: 920px) and (max-width: 1200px) {
}
